.header .header__link {
  display: inline-block;
}

.header .header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .header__box .header-nav__logo {
  margin-bottom: 20px;
}

.header .header-nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
  background-color: #fff;
}

.header .header-nav .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 250px;
}

.header .header-nav .header-nav__list .header-nav__item {
  margin-left: 50px;
}

.main {
  background-image: url("../img/Bitmap1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px;
  margin-top: 80px;
}

.main .container {
  position: relative;
}

.main .main__title {
  display: inline-block;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.main .main__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 30px 0;
  padding-left: 100px;
}

.main .main__img1 {
  position: absolute;
  left: -10%;
  top: 55%;
}

.main .main__img2 {
  position: absolute;
  left: 53%;
  top: 53%;
}

.scooter {
  padding: 80px 0;
}

.scooter .container {
  position: relative;
}

.scooter .scooter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scooter .scooter__list .scooter__item {
  margin-left: 200px;
  z-index: 2;
}

.scooter .scooter__list .scooter__item__img {
  z-index: 2;
}

.scooter .scooter__list::before {
  z-index: 0;
  content: "";
  width: 85%;
  height: 16px;
  background-color: #E5ECF4;
  top: 16%;
  left: -10%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.scooter .scooter__list--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.scooter .scooter__list--second .scooter__item--second .scooter__item__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 20px;
}

.scooter .scooter__list--second .scooter__item--second .scooter__item__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.easy .container {
  position: relative;
}

.easy .easy__list .easy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 120px;
}

.easy .easy__list .easy__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.easy .easy__list .easy__item .easy__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.easy .easy__list .easy__item .easy__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-top: 30px;
  margin-bottom: 50px;
}

.easy .easy__list .easy__item::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: #E5ECF4;
  right: -28%;
  border-radius: 50%;
}

.easy .easy__list .easy__item .easy__right__img {
  position: absolute;
  right: -15%;
  top: 17%;
}

.easy .easy__list .easy__item .easy__right {
  position: absolute;
  right: -25%;
  top: 83%;
}

.easy .easy__list .easy__item .easy__left {
  position: absolute;
  left: -25%;
  top: 40%;
}

.easy .easy__list .easy__item .image {
  border-radius: 50%;
}

.easy .easy__list .left::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: #E5ECF4;
  left: -28%;
  border-radius: 50%;
}

.scoot {
  background-image: url("../img/Mask3.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.scoot .scoot__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.scoot .scoot__box .scoot__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.footer {
  background-color: #333A44;
}

.footer .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer .footer__box .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__box .footer__list .footer__item {
  margin-left: 30px;
}

.footer .footer__box .footer__list--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__box .footer__list--second .footer__item--second {
  margin-left: 15px;
}

.footer .footer__box .footer__list--second .footer__item--second .footer__item__link:hover {
  color: #fff;
}

.header .header-nav .header-nav__btn, .main .main__btn {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
  border: 3px solid #FCB72B;
  padding: 14px 39px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.header .header-nav .header-nav__btn:hover, .main .main__btn:hover {
  background-color: #FFFFFF;
  color: #FCB72B;
}

.header .header-nav .header-nav__list .header-nav__item .header-nav__link, .footer .footer__box .footer__list .footer__item .footer__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #939CAA;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-nav .header-nav__list .header-nav__item .header-nav__link:hover, .footer .footer__box .footer__list .footer__item .footer__link:hover {
  color: #FCB72B;
}

.easy .easy__list .easy__item .easy__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
  border: 2px solid #FCB72B;
  padding: 14px 39px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.easy .easy__list .easy__item .easy__link:hover {
  background-color: #FFFFFF;
  color: #FCB72B;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v6-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  font-family: 'Space Mono', 'Lexend Deca';
  position: relative;
}
/*# sourceMappingURL=main.css.map */