@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v6-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  font-family: 'Space Mono', 'Lexend Deca';
  position: relative;
}

.header {
  position: relative;
}

.header .header-navbar {
  padding: 20px 0;
  -webkit-box-shadow: 0 5px 10px #d8d7d7;
          box-shadow: 0 5px 10px #d8d7d7;
}

.header .header-navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-navbar .navigation .header-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header .header-navbar .navigation .header-navbar__list .header-navbar__item {
  margin-right: 50px;
}

.header .header-navbar .navigation .hamburger {
  position: relative;
  width: 30px;
  height: 5px;
  background: #FCB72B;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-navbar .navigation .hamburger::before, .header .header-navbar .navigation .hamburger::after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  background: #FCB72B;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-navbar .navigation .hamburger::before {
  top: -10px;
  width: 25px;
}

.header .header-navbar .navigation .hamburger::after {
  top: 10px;
  width: 35px;
}

.header .header-navbar .navigation .toggle__menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.header .header-navbar .navigation input:checked ~ .hamburger {
  background: transparent;
}

.header .header-navbar .navigation input:checked ~ .hamburger::before {
  top: 0;
  width: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header-navbar .navigation input:checked ~ .hamburger::after {
  top: 0;
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main {
  background-image: url("../img/Bitmap1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px;
  margin-top: 80px;
}

.main .container {
  position: relative;
}

.main .main__title {
  display: inline-block;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.main .main__text {
  font-family: "Lexend Deca";
  overflow: hidden;
  width: 50%;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 30px 0;
}

.main .main__img1 {
  width: 170px;
  position: absolute;
  left: -10%;
  top: 55%;
}

.main .main__img2 {
  width: 370px;
  position: absolute;
  left: 53%;
  top: 53%;
}

.main .main__box {
  margin-left: 80px;
}

.scooter {
  padding: 80px 0;
}

.scooter .container {
  position: relative;
}

.scooter .scooter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scooter .scooter__list .scooter__item {
  margin-left: 200px;
  z-index: 2;
}

.scooter .scooter__list .scooter__item__img {
  z-index: 2;
}

.scooter .scooter__list::before {
  z-index: 1;
  content: "";
  width: 85%;
  height: 16px;
  background-color: #E5ECF4;
  top: 16%;
  left: -10%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.scooter .scooter__list--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.scooter .scooter__list--second .scooter__item--second .scooter__item__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 20px;
}

.scooter .scooter__list--second .scooter__item--second .scooter__item__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.easy {
  padding: 100px 0;
}

.easy .container {
  position: relative;
}

.easy .easy__list .easy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 120px;
}

.easy .easy__list .easy__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.easy .easy__list .easy__item .easy__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.easy .easy__list .easy__item .easy__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-top: 30px;
  margin-bottom: 50px;
}

.easy .easy__list .easy__item .easy__right__img {
  position: absolute;
  right: -9.5%;
}

.easy .easy__list .easy__item .easy__img__top {
  position: absolute;
  right: -9.5%;
}

.easy .easy__list .easy__item .easy__right {
  position: absolute;
  right: -9.5%;
  top: 78%;
  z-index: 2;
}

.easy .easy__list .easy__item .easy__left {
  position: absolute;
  left: -13%;
  top: 40%;
}

.easy .easy__list .easy__item .image {
  border-radius: 50%;
}

.easy .easy__list .left::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: #E5ECF4;
  left: -28%;
  border-radius: 50%;
}

.scoot {
  background-image: url("../img/Mask3.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.scoot .scoot__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.scoot .scoot__box .scoot__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.footer {
  background-color: #333A44;
}

.footer .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer .footer__box .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__box .footer__list .footer__item {
  margin-left: 30px;
}

.footer .footer__box .footer__list--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__box .footer__list--second .footer__item--second {
  margin-left: 15px;
}

.footer .footer__box .footer__list--second .footer__item__link:hover {
  color: #fff;
}

.header .header-navbar .navigation .header-navbar__list .header-navbar__item .header-navbar__btn, .main .main__btn {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
  border: 3px solid #FCB72B;
  padding: 15px 30px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.header .header-navbar .navigation .header-navbar__list .header-navbar__item .header-navbar__btn:hover, .main .main__btn:hover {
  background-color: #FFFFFF;
  color: #FCB72B;
}

.header .header-navbar .navigation .header-navbar__list .header-navbar__item .header-navbar__link, .footer .footer__box .footer__list .footer__item .footer__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #939CAA;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-navbar .navigation .header-navbar__list .header-navbar__item .header-navbar__link:hover, .footer .footer__box .footer__list .footer__item .footer__link:hover {
  color: #FCB72B;
}

.easy .easy__list .easy__item .easy__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
  border: 2px solid #FCB72B;
  padding: 14px 39px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.easy .easy__list .easy__item .easy__link:hover {
  background-color: #FFFFFF;
  color: #FCB72B;
}

@media (max-width: 1140px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  .main .main__box {
    margin-left: 10px;
  }
  .main .main__text {
    padding-left: 0;
  }
  .main .main__img1 {
    left: -20%;
  }
  .main .main__text .br-p {
    display: none;
  }
  .main .main__title {
    text-align: center;
    margin-left: 180px;
  }
  .main .main__text {
    text-align: center;
    margin-left: 190px;
  }
  .main .main__img1 {
    display: none;
  }
  .main .main__img2 {
    width: 300px;
    position: absolute;
    left: -20%;
    top: 90%;
  }
  .main .main__btn {
    margin-left: 290px;
  }
  .scooter__item {
    margin-right: -30px;
  }
  .easy .easy__list .easy__item .easy__img__top {
    right: 0;
  }
  .easy .easy__list .left::before {
    left: -24%;
  }
  .easy .easy__list .easy__item .easy__right__img {
    width: 500px;
    top: 15%;
    right: 0;
  }
  .easy .easy__list .easy__item .easy__right {
    width: 300px;
    right: 0;
  }
  .easy .easy__list .easy__item .easy__left {
    width: 300px;
    left: 0;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .header-nav__btn {
    margin-right: 500px;
  }
  .main {
    background-image: url("../img/Bitmap (1).jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .main .main__text .br-p {
    display: none;
  }
  .main .main__title {
    text-align: center;
    margin-left: 180px;
  }
  .main .main__text {
    text-align: center;
    margin-left: 190px;
  }
  .main .main__img1 {
    display: none;
  }
  .main .main__img2 {
    width: 300px;
    position: absolute;
    left: -20%;
    top: 90%;
  }
  .main .main__btn {
    margin-left: 290px;
  }
  .scooter .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .scooter__list, .scooter__list--second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scooter .scooter__list .scooter__item {
    margin-top: 50px;
    margin-left: 20px;
  }
  .scooter__item--second {
    margin-bottom: 30px;
  }
  .scooter .scooter__list::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 70%;
    top: 31%;
    margin-left: -40px;
  }
  .easy {
    position: relative;
  }
  .easy .container .easy__list {
    margin: 0 auto;
  }
  .easy .container .easy__list .easy__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .easy .easy__list .easy__item .easy__img__top {
    right: 0;
    top: -1%;
  }
  .easy .easy__list .easy__item .bottom {
    top: 71%;
  }
  .easy .easy__list .left::before {
    position: absolute;
    left: -30%;
    top: 35%;
  }
  .easy .easy__list .easy__item .easy__right__img {
    width: 630px;
    right: 0;
    top: 8%;
    z-index: 2;
  }
  .easy .easy__list .easy__item .easy__left {
    width: 330px;
    left: -17%;
    top: 36%;
  }
  .easy .easy__list .easy__item .easy__right {
    width: 330px;
    right: 0;
    top: 72%;
  }
  .easy .easy__list .easy__item .easy__img {
    margin-bottom: 50px;
  }
  .scoot {
    background-image: url("../img/Mask (4).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .scoot .scoot__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scoot .scoot__title {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .header .header-navbar .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-navbar .container .navigation .hamburger, .toggle__menu {
    display: block;
    margin-right: 265px;
  }
  input:checked ~ .header-navbar__list {
    left: 0;
  }
  .header-navbar__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 13%;
    left: -350px;
    background: #495567;
    width: 350px;
    height: 100vh;
    padding-top: 65px;
    z-index: 2;
  }
  .header-navbar__list .header-navbar__item {
    width: 50%;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .header-navbar__list .header-navbar__item .header-nav__link {
    font-size: 24px;
  }
  .header-navbar__btn {
    margin-top: 250px;
    margin-bottom: 120px;
  }
  .main {
    background-image: url("../img/Bitmap (3).png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .main .container .main__text .br-p {
    display: none;
  }
  .main .container .main__title {
    text-align: center;
    margin-left: 40px;
  }
  .main .container .main__text {
    text-align: center;
    margin-left: 80px;
    width: 70%;
  }
  .main .main__img1 {
    display: none;
  }
  .main .main__img2 {
    width: 300px;
    position: absolute;
    left: -65%;
    top: 90%;
  }
  .main .main__btn {
    margin-left: 150px;
  }
  .scooter .scooter__list::before {
    display: none;
  }
  .scooter .scooter__list {
    position: absolute;
    bottom: 170px;
    left: 170px;
  }
  .scooter .scooter__list .scooter__item {
    margin-bottom: 150px;
  }
  .scooter .scooter__list--second {
    text-align: center;
  }
  .scooter .scooter__list--second .scooter__item--second {
    margin-bottom: 150px;
  }
  .easy .easy__list .easy__item .easy__img__top {
    display: none;
  }
  .easy .easy__list .left::before {
    display: none;
  }
  .easy .easy__list .easy__item .easy__right {
    right: -26%;
  }
  .easy .easy__list .easy__item .easy__right__img {
    right: -26%;
    top: 7%;
  }
  .easy .easy__list .easy__item .easy__left {
    left: -25.5%;
  }
  .easy .easy__list .easy__item .easy__title {
    font-size: 36px;
  }
  .easy .easy__list .easy__item .easy__br {
    display: none;
  }
  .scoot {
    background-image: url("../img/Group 22.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer .footer__box, .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .footer__box .footer__list {
    margin-bottom: 55px;
    margin-right: 46px;
  }
  .footer .footer__box .footer__list .footer__item {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer .footer__box .footer__img {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .footer .footer__box .footer__list--second {
    margin-right: 30px;
  }
}

@media (max-width: 479px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .header .header-navbar .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .header-navbar .container .navigation .hamburger, .toggle__menu {
    margin-right: 50px;
  }
  .main .container .main__text .br-p {
    display: none;
  }
  .main .container .main__title {
    text-align: center;
    margin-left: -55px;
    font-size: 44px;
  }
  .main .container .main__text {
    text-align: center;
    margin-left: -8px;
    font-size: 15px;
    width: 70%;
  }
  .main .main__img2 {
    width: 300px;
    position: absolute;
    left: -100%;
    top: 90%;
  }
  .main .main__btn {
    margin-left: 7px;
  }
  .scooter .scooter__list {
    position: absolute;
    bottom: 160px;
    left: 95px;
  }
  .br {
    display: none;
  }
  .easy .container .easy__list {
    margin: 0 auto;
  }
  .easy .easy__list .easy__item .easy__right__img {
    right: -8%;
    top: 7%;
  }
  .easy .easy__list .easy__item .easy__right {
    right: -8%;
  }
  .easy .easy__list .easy__item .easy__title {
    font-size: 32px;
  }
  .easy .easy__list .easy__item .easy__text {
    font-size: 16px;
  }
  .scoot .scoot__box .scoot__title {
    font-size: 38px;
  }
  .scoot .scoot__box .scoot__br {
    display: none;
  }
  .scoot .scoot__box .scoot__link__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .scoot .scoot__box .scoot__link__box .scoot__img {
    margin-left: 10px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .header .header-navbar .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .container .main__text .br-p {
    display: none;
  }
  .main .container .main__title {
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
  }
  .main .container .main__text {
    text-align: center;
    margin-left: 8px;
    font-size: 12px;
  }
  .main .main__img2 {
    width: 300px;
    position: absolute;
    left: -290%;
    top: 90%;
  }
  .main .main__btn {
    margin-left: 7px;
  }
  .br1 {
    display: none;
  }
  .scooter .scooter__list {
    position: absolute;
    bottom: 170px;
    left: 95px;
  }
  .easy .easy__list .easy__item .easy__right__img {
    right: 0%;
    top: 7%;
  }
  .easy .easy__list .easy__item .easy__right {
    right: 0;
  }
  .easy .easy__list .easy__item {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .scoot .scoot__box .scoot__link__box .scoot__img {
    margin-left: 7px;
    width: 140px;
    height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */