.easy{
    padding: 100px 0;
    background-color: #666;

    & .container{
        position: relative;
    }

    & .easy__list{
       
        & .easy__item{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 120px;

            &:nth-child(2){
               flex-direction: row-reverse; 
            }

            & .easy__title{
                font-family: "Space Mono";
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 48px;
                letter-spacing: -2.14286px;
                color: #495567;
            }

            & .easy__text { 
                font-family: "Lexend Deca";
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                color: #939CAA;
                margin-top: 30px;
                margin-bottom: 50px;
            }

            & .easy__link{
                @extend %link2;
            }

           & .easy__right__img{
               position: absolute;
               right: -9.5%;
               display: none;
           }

             &::before{
                position: absolute;
                content: "";
                width: 300px;
                height: 300px;
                background-color: #E5ECF4;
                right: -28%;
                border-radius: 50%;
                display: none;
            }

            & .easy__right{
                position: absolute;
                right: -9.5%;
                top: 78%;
                z-index: 2;
                display: none;
            }

            & .easy__left{
                position: absolute;
                left: -13%;
                top: 40%;
                display: none;
            }

            & 
            .image{
                border-radius: 50%;
            }
        }

        & .left{
            &::before{
                position: absolute;
                content: "";
                width: 300px;
                height: 300px;
                background-color: #E5ECF4;
                left: -28%;
                border-radius: 50%;
                display: none;
            }

        }
    }
}