.footer{
    background-color: #333A44;
  


      & .footer__box{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 30px 0;
         
          & .footer__list{
            display: flex;
            align-items: center;

              & .footer__item{
                  margin-left: 30px;

                  & .footer__link{
                      @extend %link;
                  }
              }
        }

        & .footer__list--second{
            display: flex;
            align-items: center;
             
            & .footer__item--second{
                margin-left: 15px;
            }

            & .footer__item__link:hover{
                color: #fff;
            }
        }

      }
}