.footer{
    background-color: #333A44;
  


      & .footer-box{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 30px 0;
         
          & .footer-list{
            display: flex;
            align-items: center;

              & .footer-item{
                  margin-left: 30px;

                  & .footer-link{
                      @extend %link;
                  }
              }
        }

        & .footer-second-list{
            display: flex;
            align-items: center;
             
            & .footer-second-item{
                margin-left: 15px;

                & .footer-second-link:hover{
                    color: #fff;
                }
            }

        }

      }

   
}