.main{
    background-image: url("../img/Bitmap1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px;
    margin-top: 80px;

     & .container{
        position: relative;
    }

      & .main__title{
        display: inline-block;
        margin: 0;
        font-family: "Space Mono";
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
    }

    & .main__text{
    
        font-family: "Lexend Deca";
        overflow: hidden;
        width: 50%;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        padding: 30px 0;
        margin-left: 80px;
        
    }

    & .main__btn{
        @extend %btn;
    }

    & .main__img1{
        width: 170px;
        position: absolute;
        left: -10%;
        top: 55%;
    }

    & .main__img2{
        width: 370px;
        position: absolute;
        left: 53%;
        top: 53%;
    }
}









