
 @media(max-width: 1140px){
    .container{
        width: 1024px;
        margin: 0 auto;
    }

    .main .main__text{
        padding-left: 0;
    }

    .scooter__item{
      margin-right: -30px;
    }

    .easy .easy__list .easy__item::before{
      right: -25%;
    }
    .easy .easy__list .left::before{
      left: -24%;
    }

    .easy .easy__list .easy__item .easy__right__img{
      width: 500px;
      right: 0;
    }

    .easy .easy__list .easy__item .easy__right{
      width: 300px;
      right: 0;
    }

    .easy .easy__list .easy__item .easy__left{
      width: 300px;
      left: 0;
    }
  }
  
  
  @media(max-width: 1023px){
    .container{
        width: 768px;
        margin: 0 auto;
    }


    .main{
        background-image: url("../img/Bitmap (1).jpg");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
    
     .main .main__text .br-p{
         display: none;
     }

     .main .main__title{
         text-align: center;
         margin-left: 180px;
     }

     .main .main__text{
         text-align: center;
         margin-left: 190px;
         
     }

     .main .main__img1{
        display: none;
    }

    .main .main__img2{
        width: 300px;
        position: absolute;
        left: -20%;
        top: 90%;
    }

    .main .main__btn{
        margin-left: 290px;
    }


    .scooter .container{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    .scooter__list, .scooter__list--second{
      flex-direction: column;
    }

    .scooter .scooter__list .scooter__item{
      margin-top: 50px;
      margin-left: 20px;
    }

    .scooter__item--second{
      margin-bottom: 30px;
    }

    .scooter .scooter__list::before{
           transform: rotate(90deg);
           width: 70%;
           top: 31%;
           margin-left: -40px;
     }

     .easy{
       position: relative;
     }

     .easy .container .easy__list {
       margin: 0 auto;
     }

     .easy .container .easy__list .easy__item{
       flex-direction: column-reverse;
       text-align: center;
     }

     .easy .easy__list .easy__item::before{
      right: -40%;
    }
 
    .easy .easy__list .easy__item:nth-child(3):before{
       top: 70%;
    }

    .easy .easy__list .easy__item:nth-child(1):before{
      top: 10px;
    }

    .easy .easy__list .left::before{
      position: absolute;
      left: -30%;
      top: 35%;
    }

    .easy .easy__list .easy__item .easy__right__img{
      width: 630px;
      right: 0;
       top: 8%;
       z-index: 2;
    }

    .easy .easy__list .easy__item .easy__left{
      width: 330px;
      left: 0;
      top: 36%;
    }

    .easy .easy__list .easy__item .easy__right{
        width: 330px;
        right: 0;
        top: 72%;
    }

    .easy .easy__list .easy__item .easy__img{
       margin-bottom: 50px;
    }

    .scoot{
      background-image: url("../img/Mask (4).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .scoot .scoot__box{
      flex-direction: column;
    }

    .scoot .scoot__title{
      text-align: center;
      margin-bottom: 60px;
    }

  }
  
  @media(max-width: 767px){
    .container{
        width: 480px;
        margin: 0 auto;
    }

    .main{
        background-image: url("../img/Bitmap (3).png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
    .main .container .main__text .br-p{
        display: none;
    }

    .main .container .main__title{
        text-align: center;
       margin-left: 40px;
    }

    .main .container .main__text{
        text-align: center;
        margin-left: 80px;
        width: 70%;
        
    }

    .main .main__img1{
       display: none;
   }

   .main .main__img2{
       width: 300px;
       position: absolute;
       left: -65%;
       top: 90%;
   }

   .main .main__btn{
    margin-left: 150px;
   }


    .scooter .scooter__list::before{
        display: none;
     }

     .scooter .scooter__list{
       position: absolute;
       bottom: 170px;
       left: 170px;
     }

    .scooter .scooter__list .scooter__item{
       margin-bottom: 150px;
    }

     .scooter .scooter__list--second{
        text-align: center;
    }

    .scooter .scooter__list--second .scooter__item--second{
      margin-bottom: 150px;
    }

    .easy .easy__list .easy__item::before{
      display: none;
    }

    .easy .easy__list .left::before{
      display: none;
    }

    .easy .easy__list .easy__item .easy__right{
      right: -26%;
    }

    .easy .easy__list .easy__item .easy__right__img{
      right: -26%;
      top: 7%;
    }

    .easy .easy__list .easy__item .easy__left{
      left: -25.5%;
    }

   .easy .easy__list .easy__item .easy__title{
      font-size: 36px;
    }

    .easy .easy__list .easy__item .easy__br{
      display: none;
    }

    
    .scoot{
      background-image: url("../img/Group 22.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    .footer .footer__box, .footer__list{
      flex-direction: column;
      text-align: center;
    }

    .footer .footer__box .footer__list {
      margin-bottom: 55px;
      margin-right: 46px;
    }

    .footer .footer__box .footer__list .footer__item{
      margin-bottom: 20px;
      text-align: center;
    }
    
    .footer .footer__box .footer__img{
    margin-left: 30px;
    margin-bottom: 30px;
    }

    .footer .footer__box .footer__list--second{
      margin-right: 30px;
    }


  } 
  
  
  @media(max-width: 479px){
    .container{
        width: 320px;
        margin: 0 auto;
    }

    .main .container .main__text .br-p{
        display: none;
    }

    .main .container .main__title{
        text-align: center;
        margin-left: -55px;
        font-size: 44px;
    }

    .main .container .main__text{
        text-align: center;
        margin-left: -8px;
        font-size: 15px;
        width: 70%;
        
    }

   .main .main__img2{
       width: 300px;
       position: absolute;
       left: -100%;
       top: 90%;
   }

   .main .main__btn{
    margin-left: 7px;
   }

    .scooter .scooter__list{
      position: absolute;
      bottom: 160px;
      left: 95px;
    }

    .br{
       display: none;
    }

    .easy .container .easy__list {
      margin: 0 auto;
    }

    .easy .easy__list .easy__item{
      margin-left: 40px;
    }

    .easy .easy__list .easy__item .easy__right__img{
      right: -100%;
      top: 7%;
    }

    .easy .easy__list .easy__item .easy__right{
      right: -90%;
    }

    .easy .easy__list .easy__item .easy__title{
      font-size: 32px;
    }

    .easy .easy__list .easy__item .easy__text{
      font-size: 16px;
    }

    .scoot .scoot__box .scoot__title{
      font-size: 38px;
    }

    .scoot .scoot__box .scoot__br{
      display: none;
    }

    .scoot .scoot__box .scoot__link__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .scoot .scoot__box .scoot__link__box .scoot__img{
     margin-left: 10px;
    }

  } 
  
  @media(max-width: 320px){
    .container{
        width: 100%;
        margin: 0 auto;
    }

    .main .container .main__text .br-p{
        display: none;
    }

    .main .container .main__title{
        text-align: center;
       margin: 0 auto;
        font-size: 23px;
    }

    .main .container .main__text{
        text-align: center;
        margin-left: 8px;
        font-size: 12px;
        
    }

   .main .main__img2{
       width: 300px;
       position: absolute;
       left: -290%;
       top: 90%;
   }

   .main .main__btn{
    margin-left: 7px;
   }

    .br1{
      display: none;
    }

    .scooter .scooter__list{
      position: absolute;
      bottom: 170px;
      left: 95px;
    }

    .easy .easy__list .easy__item .easy__right__img{
      right: 70%;
      top: 7%;
    }

    .easy .easy__list .easy__item{
       margin: 0 auto;
    }

    .scoot .scoot__box .scoot__link__box .scoot__img{
       margin-left: 7px; 
      width: 140px;
      height: 50px;
     }
  } 